#icon1{
    margin-top:20px;
    margin-left: 700px;
    position: fixed;
    top: 0;
    z-index: 999;
    width:400px;
    padding: 10px;
    height :20px;
    border: 1px solid ;
    border-radius:5px;
    border-color:rgb(233, 225, 225);
    background-image: url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-512.png');
    background-repeat: no-repeat;
background-size: 20px 20px;
background-position: right center;
}